<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="./css/main.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="images/favicons/favicon.ico" />
    <title>Absolute Zero</title>
    <meta
      name="description"
      content="We are excited to announce that Owning Corporation is now Absolute Zero.
  Please give us a call for questions about your Owning Corporation loans. 855.983.0800"
    />
  </head>

  <body>
    <header class="bkg-primary">
      <div class="container">
        <img class="bkg-img-ab" src="images/az-background.svg" alt="" />
        <img class="az-logo" src="images/logo.svg" alt="" />
        <div class="subhead-copy"
          >We are excited to announce that Owning Corporation is now Absolute
          Zero.<br />
          Please give us a call for questions about your Owning Corporation
          loans.
      </div>
        <span class="phone-number">855.983.0800</span>
        <div class="cta-btn">
          <span class="cta-btn-copy">Call Us Today</span>
        </div>
        <div class="disclaimer-with-link"><a href="/services">For information on the servicing of your loan, please click HERE</a></div>
      </div>
    </header>

  <footer class="footer-style text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <p class="footer-copy mb-0 right-aligned">
            © 2021 Absolute Zero Corporation. All Rights Reserved. <br>
            Absolute Zero Corporation is working with Guaranteed Rate, Inc. (NMLS 2611) to provide loans under Guaranteed Rate, Inc. Absolute Zero Corporation is acting as a lead generator for Guaranteed Rate, Inc.
            Absolute Zero Corporation CA DRE #02063270.
          </p>
        </div>
        <div class="col-lg-6">
          <p class="footer-copy mb-0 left-aligned">
            NMLS Unique Identifier #1797976. <br>
            DRE MLO Endorsement #1797976. <br>
            Licensed by the Department of Financial Protection and Innovation under the California Residential Mortgage Lending Act,<br>
            License #41DBO-101357.
          </p>
        </div>
      </div>
      <div class="footer-rect"></div>
    </div>
  </footer>
</body>

</html>