<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link href="./css/main.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="images/favicons/favicon.ico" />
  <title>Absolute Zero</title>
  <meta name="description" content="We are excited to announce that Owning Corporation is now Absolute Zero.
  Please give us a call for questions about your Owning Corporation loans. 855.983.0800" />
</head>

<body>
  <header class="bkg-primary">
    <div class="container">
      <img class="bkg-img-ab" src="images/service-bkg.svg" alt="" />
      <a href="/">
        <img class="az-logo-services" src="images/logo.svg" alt="" />
      </a>
      <div class="sub-header-services-copy">
        If you need to discuss the servicing of your loan please call us at 
        <span class="number">844-409-0048</span>. <br>
        Options also may be available to you to avoid foreclosure.
        Please contact us at <span class="number">844-409-0048</span> to discuss.
      </div>
      <img class="happy" src="images/happy.svg" alt="" />
      <div class="row justify-content-center ser-bod-copy">
        <div class="col-md-0 mx-sm-5 col-lg-5 mx-lg-0 pr-lg-5">
          <p>
            Please be prepared with the following information and documentation
            when you call to discuss the servicing of your loan. You will need:
          </p>
          <ul>
            <li>your name</li>
            <li>address</li>
            <li>loan number</li>
          </ul>
  
          <p>
            You may also need any relevant financial statements, bank statements,
            documentation to support a claim of financial hardship or tax returns
            so please be prepared with those as well.
          </p>
        </div>
        <div class="col-md-0 mx-sm-5 col-lg-5 mx-lg-0 pl-lg-5 color-left">
          <p>
          If you have an FHA-insured mortgage and you need help working with 
          your mortgage servicer you can find a HUD-certified mortgage counselor 
          by calling <span class="toll-number">(800) 569-4287</span> or go to 
          <a class="link" href="https://apps.hud.gov/offices/hsg/sfh/hcc/hcs.cfm">
            https://apps.hud.gov/offices/hsg/sfh/hcc/hcs.cfm</a>.
          </p>
        </div>
      </div>

  </header>

  <footer class="footer-style text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <p class="footer-copy mb-0 right-aligned">
            © 2021 Absolute Zero Corporation. All Rights Reserved. <br />

            Absolute Zero Corporation CA DRE #02063270.
          </p>
        </div>
        <div class="col-lg-6">
          <p class="footer-copy mb-0 left-aligned">
            NMLS Unique Identifier #1797976. <br />
            DRE MLO Endorsement #1797976. <br />
            Licensed by the Department of Financial Protection and Innovation
            under the California Residential Mortgage Lending Act,<br />
            License #41DBO-101357.
          </p>
        </div>
      </div>
      <div class="footer-rect"></div>
    </div>
  </footer>
</body>

</html>